# Datos persistentes
data/
*.pyc
__pycache__/
.pytest_cache/

# Dependencias
venv/
.venv/
node_modules/

# AWS SAM
.aws-sam/
samconfig.toml

# IDEs
.vscode/
.idea/
*.swp

# Logs
*.log

# OS
.DS_Store
Thumbs.db