ALLOWED_ORIGIN=http://frontend-duocuc-mesa-de-servicio.s3-website-us-east-1.amazonaws.com
HYBRID_SEARCH_ENABLED=true
KNOWLEDGE_BASE_ID=IWZQCJXIWV
LLM_GUARD_ENABLED=false
LLM_GUARD_THRESHOLD=0.5
MAX_CITATIONS=5
MAX_CONTEXT_MESSAGES=10
MAX_QUERY_EXPANSIONS=3
MAX_QUERY_LENGTH=5000
MAX_TOKENS=512
MIN_CITATION_SCORE=0.7
MIN_TIMEOUT_SECONDS=5.0
MODEL_ID=cohere.command-r-v1:0
QUERY_DECOMPOSITION_ENABLED=true
QUERY_EXPANSION_ENABLED=true
QUERY_OPTIMIZATION_ENABLED=true
TEMPERATURE=0.2
GUARDRAIL_ID=0vix46kwrtvl
GUARDRAIL_VERSION=DRAFT
AWS_REGION=us-east-1
TOP_P=0.9
